.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.appWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #c4c5c1;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.header {
    margin-bottom: 15px;
}
.rate {
    padding: 8px;
}